body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.letters-section {
  padding: 60px 40px;
  background: #fff;
  text-align: center;
}

.letters-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #222;
}

.letters-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background: #8f8c7a;
  padding: 60px 20px;
  border-radius: 12px;
}

.letter-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 300px;
}

.letter-card img {
  width: 100%;
  display: block;
}
/* Шапка */
header {
  background-color: #4b4a5a; /* фон логотипа */
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Логотип */
.logo img {
  height: 55px;
  margin-left: 135px;
}

/* Навигация */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  margin-right: 90px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-family: 'Cinzel', serif;
  font-weight: 600;
  background: linear-gradient(90deg, #d4af37, #f5d97a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}
/* Кнопка */
.btn-contact {
  background: linear-gradient(90deg, #d4af37, #f5d97a);
  color: #4b4a5a !important;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
  -webkit-text-fill-color: initial; /* отменяем прозрачный текст */
}

.btn-contact:hover {
  background: linear-gradient(90deg, #f5d97a, #fff3b0);
  color: #1a1a1a !important;
}
nav ul li a:hover {
  opacity: 0.8; /* лёгкий эффект при наведении */
}
/* Гамбургер */
.menu-toggle {
  display: none;
  font-size: 30px;
  color: #d4af37;
  cursor: pointer;
}